
    <div id="mainmenu" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            {% for contentId, location in locationList %}
            <li id="menu-item-{{ location.id }}" class="menu-item menu-item-{{ location.id }}{% if location.id == selected %} active{% endif %}"><a title="{{ ez_content_name( contentList[contentId] ) }}" href="{{ path( location ) }}">{{ ez_content_name( contentList[contentId] ) }}</a></li>
            {% endfor %}
        </ul>
    </div><!--/.nav-collapse -->